{% extends "base.html" %}

{% block content %}

{% if attributes %}
  <table>
    <thead>
      <th>Key</th><th>Value</th>
    </thead>
    <tbody>
      {% for attr in attributes %}
        <tr><td>{{ attr.0 }}</td>
        <td><ul>
          {% for val in attr.1 %}
            <li>{{ val }}</li>
          {% endfor %}
        </ul></td></tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url "logout" %}">ログアウト</a>
{% else %}
  <a href="{% url "sso" %}">ログイン</a>
{% endif %}

{% endblock %}